
{`const currentYear = new Date().getFullYear()`}


        <p>
            <pre>
            <code>
                &lt;footer class="rounded-lg shadow bg-transparent m-4"&gt;
                    &lt;div class="w-full lg:w-[1220px] mx-auto p-4 md:py-8"&gt;        
                        &lt;hr class="my-6 border-gray-700/90 sm:mx-auto dark:border-gray-700 lg:my-8" /&gt;
                        &lt;span class="block text-sm text-white/90 sm:text-center"&gt;© {`{currentYear}`} Franco Alvarez. Todos los derechos reservados.&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/footer&gt;
            </code>
            </pre>
        </p>
        