{`export const EXPERIENCE = [
            {
                date: 'Dic 2023 - Presente',
                title: 'CRM - Verticall',
                description: 'Rediseño y desarrollo completo de front end de sistema administrativo de empresas.',       
            },
            {
                date: 'May - Jun 2023',
                title: 'Farm Manager - Freelance',
                description: 'Desarrollo de nuevos contenidos y optimizaciones a sistema administrativo de campos y cultivos desarrollado usando Jquery, PHP y MySql.'       
            }  
            ...
        ]
`}

<p>
    <pre>
      <code>
        {`EXPERIENCE.map(exp => (      
            <ol class="relative border-s ml-2 border-red-200/95 dark:border-gray-700">
                <li class="mb-10 ms-4">                               
                    <div class="absolute w-3 h-3 bg-orange-500 rounded-full mt-1.5 -start-1.5 border border-red-600"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-100/80">{date}</time>
                    <h3 class="text-lg font-semibold text-orange-500 mt-2">{title}</h3>
                    <p class="mb-4 text-base font-normal text-gray-200 text-pretty lg:w-[610px]">{description}</p> 
                </li>  
            </ol>                           
        ))`}     
      </code>
    </pre>
  </p>
      


