---
import Layout from '../layouts/Layout.astro';

import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import ProfileCheck from '../components/icons/ProfileCheck.astro';


import {EXPERIENCE} from '../jsObjects/ExperienceObject.js';
import { PROJECTS } from '../jsObjects/ProjectsObject';

import Hero from '../components/Hero.astro';
import Container from '../components/Container.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import ExperienceItem from '../components/ExperienceItem.astro';
import Sidebar from '../components/Sidebar.astro';


---

<Layout title="Porfolio de Franco Alvarez - Desarrollador y Programador Web" description="Contratá a Franco para programar y desarrollar tus aplicaciones web y móviles.">
	
	<main class="px-4">

		<!-- <Sidebar /> -->

		<Container class="pb-44 pt-44 items-center" id="inicio">
			<Hero />
		</Container>
		

		<Container id="experiencia" class="flex-col pb-44">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-2 items-center">
				<Briefcase class="size-8" />
				Colaboraciones
			</h2>
			<ol class="relative border-s ml-2 border-red-200/95 dark:border-gray-700">
				{EXPERIENCE.map(exp => (
					<li class="mb-10 ms-4">        
						<ExperienceItem params={exp} />
						
					</li>
				))}
			</ol>
		</Container>

		<Container id="proyectos" class="flex-col pb-44">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-2 items-center">
				<Code class="size-8" />
				Proyectos
			</h2>
			{PROJECTS.map(project => (
				<Projects {...project} />
			))}
		</Container>

		<Container id="sobre-mi" class="flex-col">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-2 items-center">
				<ProfileCheck class="size-8" />
				Sobre Mi
			</h2>
			<AboutMe />
		</Container>
		<!-- <script>
			document.addEventListener("DOMContentLoaded", function () {
				const dropdownToggle = document.querySelector('[data-dropdown-toggle="dropdownRight"]');
				const dropdownMenu = document.getElementById("dropdownRight");
		
				// Function to close the dropdown menu
				function closeDropdown() {
					dropdownMenu.classList.add("hidden");
				}
		
				// Event listener for the dropdown toggle button
				dropdownToggle.addEventListener("click", function () {
					dropdownMenu.classList.toggle("hidden");
				});
		
				// Event listener to close the dropdown when clicking outside of it
				document.addEventListener("click", function (event) {
					const targetElement = event.target;
					if (!dropdownToggle.contains(targetElement) && !dropdownMenu.contains(targetElement)) {
						closeDropdown();
					}
				});
			});

			
		</script> -->
	</main>
</Layout>

