---
    const { width } = Astro.props;
    const currentYear = new Date().getFullYear()
---

<footer class="rounded-lg bg-transparent m-4">
    <div class={`w-full lg:w-[1220px] mx-auto p-4 md:py-8 ${width}`}>        
        <hr class="my-6 border-gray-700/90 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-white/90 sm:text-center">© {currentYear} Franco Alvarez. Todos los derechos reservados.</span>
    </div>
</footer>

